<div class="row">
    <div class="col-6">
      <form (ngSubmit)="ProductSubmit()" formGroup="ProductForm">
        <div class="mb-3">
          <label for="ProductName" class="form-label">Product Name</label>
          <input type="ProductName" class="form-control" id="ProductName">
        </div>
        <div class="mb-3">
          <label for="TId" class="form-label">Type ID</label>
          <input type="TId" class="form-control" id="TId">
        </div>
        <div class="mb-3">
            <label for="ProductPack" class="form-label">Product Packaging</label>
            <input type="ProductPack" class="form-control" id="ProductPack">
          </div>
          <div class="mb-3">
            <label for="ProductLife" class="form-label">Product Shelf Life</label>
            <input type="ProductLife" class="form-control" id="ProductLife">
          </div>
       
        <button type="submit" class="btn btn-primary" (click)="ProductSubmit()">Submit</button>
        </form>
    </div>
  </div>