<style>
    h1{text-align: center;}
    h2{text-align: center;}
    img {
  display: block;
  margin-left: auto;
  margin-right: auto;
    }
    p{text-align: center;}

</style>

<h1 style="color:crimson">ADABI</h1> 
<h2> Sajian Istana Di Zaman Silam</h2>

<img 
src="assets\ADABI.jpg" width="600" height="300">

<h1 style="color:crimson"> About ADABI </h1>
<p> At Adabi, we understand better than anybody the value and importance of heritage, quality and, above all, taste. <br>

    But we know that today we live in an ever faster-paced world where the time taken for preparing food in the traditional ways is no longer available or realistic. 
    Buying spices in the market, grinding them painstakingly, mixing pastes and slowly assembling and cooking all the ingredients is just not possible. <br>
    
    So we are committed to bringing you the most authentic possible spices and products through our deep detailed knowledge of original, genuine, Malaysian taste, our local recipes and culture. 
    We want to ensure we give your home-cooked meals that amazing Adabi magic with the convenience and value that matches your modern lifestyle. <br>
    
    Across the generations, the preparation and cooking of food has always created the single most important connection between people. 
    It has the power to bring us all together, to remember and respect our shared past and look to our future.</p>